In [1]:
"""
Landon Buell
Qiaoyan Yu
MNIST Classifier v2
26 march 2020
"""

import numpy as np
import pandas as pd

In [3]:
dataframe = pd.DataFrame(data=None,columns=np.arange(0,12,1))
dataframe.head()

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Index: []

In [11]:
A = 30
B = 20
C = np.arange(0,10,1)

AB = np.array([A,B])
AB

array([30, 20])

In [12]:
D = np.append(AB,C)
D

array([30, 20,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9])